@font-face{
	font-family: 'ADAM.CG PRO';
	src: url('../Fonts/ADAM.CGPRO.otf');
}

.div_1
	{
	background-color: #101010;
	/*background-image: linear-gradient(90deg, #19b34f, #4cc476); /*32bb62*/
	width:99%;
	margin:auto;
	height:auto;
	padding:100px;
	font-family: 'ADAM.CG PRO';
	font-weight: bold;
	}
