@font-face{
	font-family: 'ADAM.CG PRO';
	src: url('../Fonts/ADAM.CGPRO.otf');
}

.div_1
	{
	background-color: #101010;
	/*background-image: linear-gradient(90deg, #19b34f, #4cc476); /*32bb62*/
	width:99%;
	margin:auto;
	height:auto;
	padding:100px;
	font-family: 'ADAM.CG PRO';
	font-weight: bold;
	}

.div_2
	{
	background-color:#FEFEFE;
	width:auto;
	height:auto;
	padding:100px;
	font-family: 'ADAM.CG PRO';
	font-weight: bold;
	}

.head_1
	{
	text-align:center;
	color:#F5F5F5;
	font-size:32px;
	padding-bottom:40px;
	}

.head_2
	{
	text-align:center;
	color:#303030;
	font-size:32px;
	padding-bottom:40px;
	}
.item
	{
	margin-left:auto;
	margin-right:auto;
	height:auto;
	width:auto;
	max-width:200px;
	height:200px;
	padding: 2px;
	border:2px solid #FFBF00;
	display: table;
	}

.row::after
	{
	box-sizing: border-box;
	content: "";
	clear:both;
	display:table;
	padding-top:40px;
	color:white;
	}

#textbelow
	{
	color:#303030;
	font-family:Helvetica;
	font-weight: normal;
	}

.col
	{
	float:left;
	width:25%;
	padding:5px;
	}

@media only screen and (min-width: 0px) and (max-width: 600px)
	{
	.col{width:100%;}
	}
@media only screen and (min-width: 600px) and (max-width: 900px)
	{
	.col{width:50%;}
	}
